/* Formulários */
div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form.registo {
    width: 100%;
    text-align: left;
}

/*Tabelas*/
table{
    width: 100%;
    border-collapse: collapse;
}

td.cell-label {
    width: 20%;
}

td.cell-alertas {
    width: 50%;
}

/*Aside*/
body aside {
    width: 10%;
    float: right;
}

/*Botões*/
div.xpto {
    display: block;
    text-align: center;
}

body aside button {
    width: 125px;
    margin-bottom: 5px;
}

button.btn {
    width: 250px;
    height: 35px;
}

input {
    margin-bottom: 10px;
    width: 250px;
    height: 35px;
    box-sizing: border-box
}

input.radio-btn {
    height: 15px;
}

/*Legenda*/
legend {
    font-size: 20px;
    font-weight: bold;
}

/*Fieldset*/
fieldset.btn {
    text-align: center;
    border: none;
}


/*TESTES*/
