<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registo de nova experiência</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'monitratoslab/css/style.css' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    {% if error_message %}
        <div style="color: red" class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <h1>Registo de nova experiência</h1>
    <h2>Formulário:</h2>
    <form method="post" action="{% url 'monitratoslab:novaexperiencia' %}" class="registo">
        {% csrf_token %}

        <fieldset>
            <legend>Dados gerais:</legend>
            <div class="row">
                <div class="column">
                    <table>
                        <tr>
                            <td class="cell-label"><label for="numeroratos">Número de ratos:</label></td>
                            <td><input type="number" id="numeroratos" name="numeroratos" required></td>
                        </tr>
                        <tr>
                            <td class="cell-label"><label for="temperaturaideal">Temperatura ideal (ºC):</label></td>
                            <td><input type="number" id="temperaturaideal" name="temperaturaideal" step="0.01" required></td>
                        </tr>
                        <tr>
                            <td class="cell-label"><label for="variacaotemperaturamaxima">Variação da temperatura máxima(ºC):</label></td>
                            <td><input type="number" id="variacaotemperaturamaxima" name="variacaotemperaturamaxima" step="0.01" required></td>
                        </tr>
                        <tr>
                            <td class="cell-label"><label for="segundossemmovimento">Tempo sem movimento(s):</label></td>
                            <td><input type="number" id="segundossemmovimento" name="segundossemmovimento" required></td>
                        </tr>
                        <tr>
                            <td class="cell-label"><label for="limiteratossala">Número máximo de ratos por sala:</label></td>
                            <td><input type="number" id="limiteratossala" name="limiteratossala" required></td>
                        </tr>
                    </table>
                </div>
                <div class="column">
                    <table>
                        <tr>
                            <td class="cell-label"><label for="descricao">Descrição:</label></td>
                            <td><textarea id="descricao" name="descricao" rows="2" cols="80"></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>

        <div>
            <fieldset>
                <legend>Registo de odores nas salas:</legend>
                <div name="Registo de odores nas salas" class="column">
                    <table>
                        {% for i in num_salas %}
                            <tr>
                                <td class="cell-label"><label for="sala_{{ i }}">Sala {{ i }}:</label></td>
                                <td><input type="text" id="sala_{{ i }}" name="sala_{{ i }}" maxlength="5" required></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </fieldset>

            <fieldset>
                <legend>Registo de substâncias administradas aos ratos:</legend>
                <div name="Registo de substancias administradas aos ratos" class="column">
                    <label for="ratossemsubstancias">Número de ratos sem substâncias injetadas:</label>
                    <input type="number" id="ratossemsubstancias" name="ratossemsubstancias">
                    <br>
                    <div id="input_fields">
                        <div>
                            <label for="substancia">Substância:</label>
                            <input type="text" id="substancia" name="substancia[]"  maxlength="5">
                            <label for="numratos">Número de ratos:</label>
                            <input type="number" id="numratos" name="numratos[]">
                        </div>
                    </div>
                    <button id="add_button" type="button">Adicionar</button>
                </div>
            </fieldset>
        </div>

        <fieldset>
            <legend>Modos de alertas</legend>
            <div class="row" name="modo de alertas">
                <table>
                    <tr>
                        <td class="cell-alertas">
                            <fieldset>
                                <legend>Periodicidade</legend>
                                    <div class="column" name="periodicidade_">
                                    <input type="radio" class="radio-btn" id="maxima" name="periodicidade" value="maxima" checked>
                                    <label for="maxima">Máxima</label>
                                    <br>
                                    <input type="radio" class="radio-btn" id="media" name="periodicidade" value="media">
                                    <label for="media">Média</label>
                                    <br>
                                    <input type="radio" class="radio-btn" id="minima" name="periodicidade" value="minima">
                                    <label for="minima">Mínima</label>
                                </div>
                            </fieldset>
                        </td>
                        <td class="cell-alertas">
                            <fieldset>
                                <legend>Gravidade</legend>
                                <div class="column" name="gravidade">
                                    <input type="radio" class="radio-btn" id="grav_alta" name="gravidade" value="grav_alta">
                                    <label for="grav_alta">Alta</label>
                                    <br>
                                    <input type="radio" class="radio-btn" id="grav_media" name="gravidade" value="grav_media">
                                    <label for="media">Média e superiores</label>
                                    <br>
                                    <input type="radio" class="radio-btn" id="grav_baixa" name="gravidade" value="grav_baixa" checked>
                                    <label for="grav_baixa">Baixa e superiores</label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>

        <fieldset class="btn">
            <input type="submit" value="Registar">
            <input type="reset" value="Limpar">
            <input type="button" value="Cancelar" onclick="history.back()">
        </fieldset>
    </form>
    <br>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var addButton = $('#add_button');
            var wrapper = $('#input_fields');

            // Add a new set of input fields when the "Add" button is clicked
            $(addButton).click(function () {
                // var newInput = '<div><input type="text" name="name[]" placeholder="Name"><input type="text" name="age[]" placeholder="Age"><a href="#" class="remove_field">Remove</a></div>';
                var newInput = '<div>' +
                    '<label htmlFor="substancia">Substância: </label><input type="text" name="substancia[]"  maxlength="5">' + ' ' +
                    '<label htmlFor="numratos">Número de ratos: </label><input type="text" name="numratos[]">' +
                    '<button href="#" class="remove_field" type="button">Remover</button>' +
                    '</div>';
                $(wrapper).append(newInput);
            });

            // Remove the corresponding set of input fields when the "Remove" link is clicked
            $(wrapper).on('click', '.remove_field', function (e) {
                e.preventDefault();
                $(this).parent('div').remove();
            });
        });
    </script>
</body>
</html>