<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registo de nova experiência</title>
    <style>
        form {
            display: table;
        }

        p {
            display: table-row;
        }

        label {
            display: table-cell;
        }

        input {
            display: table-cell;
        }

        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>

<h1>Registo de nova experiência</h1>
<h2>Formulário:</h2>
<form method="post" action="{% url 'monitratoslab:novaexperiencia' %}">
    {% csrf_token %}
    <div class="row">
        <div class="column">
            <p>
                <label for="numeroratos">Número de Ratos:</label>
                <input type="number" id="numeroratos" name="numeroratos" required>
            </p>
            <p>
                <label for="temperaturaideal">Temperatura Ideal (ºC):</label>
                <input type="number" id="temperaturaideal" name="temperaturaideal" step="0.01" required>
            </p>
            <p>
                <label for="variacaotemperaturamaxima">Variação da Temperatura Máxima(ºC):</label>
                <input type="number" id="variacaotemperaturamaxima" name="variacaotemperaturamaxima" step="0.01"
                       required>
            </p>
            <p>
                <label for="segundossemmovimento">Tempo sem Movimento(s):</label>
                <input type="number" id="segundossemmovimento" name="segundossemmovimento" required>
            </p>
            <p>
                <label for="limiteratossala">Número máximo de ratos por Sala:</label>
                <input type="number" id="limiteratossala" name="limiteratossala" required>
            </p>
        </div>
        <div class="column">
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" rows="4" cols="50"></textarea>
        </div>
    </div>

    <div class="column">
        <h2>Registo de odores nas salas</h2>
       {% for i in range(num_salas) %}
            <label for="sala_{{ i }}">Sala {{ i }}:</label>
            <input type="text" id="sala_{{ i }}" name="sala_{{ i }}">
            <br>
        {% endfor %}
    </div>
    <div class="column">
        <h2>Registo de substancias administradas aos ratos</h2>
        <p>
            <label for="ratossemsubstancias">Número de ratos sem substâncias injetadas:</label>
            <input type="number" id="ratossemsubstancias" name="ratossemsubstancias" required>
        </p>
        <p>
            <label for="substancia">Substância:</label>
            <input type="text" id="substancia" name="substancia" required>
        </p>
        <p>
            <label for="numeroratossubstancia">Número de ratos:</label>
            <input type="number" id="numeroratossubstancia" name="numeroratossubstancia" required>
        </p>
    </div>


    <button type="submit">Enviar</button>
    <input type="submit" value="Criar">
</form>
</body>
</html>